.Grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 0;
  margin: 50px 250px 0;
  background: #ffffff;
}

.Content {
  width: 1440px;
}

.Grid-cell-image{
  max-width: 100%;
}